public final Builder set{{fieldNameUpper}}With{{resourceTypeClassName}}({{resourceTypeClassName}} value) {
  return set{{fieldNameUpper}}(value.toString());
}

public final {{resourceTypeClassName}} get{{fieldNameUpper}}As{{resourceTypeClassName}}() {
  return {{resourceTypeClassName}}.parse(get{{fieldNameUpper}}());
}
