public Builder set{{fieldNameUpper}}With{{resourceTypeClassName}}(int index, {{resourceTypeFullClassName}} value) {
  return set{{fieldNameUpper}}(index, value.toString());
}

public Builder add{{fieldNameUpper}}With{{resourceTypeClassName}}({{resourceTypeFullClassName}} value) {
  return add{{fieldNameUpper}}(value.toString());
}

public Builder addAll{{fieldNameUpper}}With{{resourceTypeClassName}}List(java.lang.Iterable<{{resourceTypeFullClassName}}> values) {
  java.lang.List<java.lang.String> list = new java.util.ArrayList<java.lang.String>();
  for ({{resourceTypeFullClassName}} value : values) {
    list.add(value.toString());
  }
  return addAll{{fieldNameUpper}}(list);
}

public {{resourceTypeFullClassName}} get{{fieldNameUpper}}As{{resourceTypeClassName}}(int index) {
  return {{resourceTypeFullClassName}}.parse(get{{fieldNameUpper}}(index));
}

public java.lang.List<{{resourceTypeFullClassName}}> get{{fieldNameUpper}}ListAs{{resourceTypeClassName}}List() {
  java.lang.List<{{resourceTypeFullClassName}}> list = new java.util.ArrayList<{{resourceTypeFullClassName}}>();
  for (int i = 0; i < getNameCount(); i++) {
    list.add(get{{fieldNameUpper}}As{{resourceTypeClassName}}(i));
  }
  return list;
}
