/**
 * @deprecated Use the following instead:
 * <pre><code>
 * {{resourceTypeClassName}}.parse(protoObject.get{{fieldNameUpper}}(index));
 * </code></pre>
 */
@Deprecated
public {{resourceTypeFullClassName}} get{{fieldNameUpper}}As{{resourceTypeClassName}}(int index) {
  java.lang.String str = get{{fieldNameUpper}}(index);
  if (str.isEmpty()) {
    return null;
  }
  return {{concreteResourceTypeFullClassName}}.parse(str);
}

/**
 * @deprecated Use the following instead:
 * <pre><code>
 * List&lt;{{resourceTypeFullClassName}}&gt; list = new ArrayList&lt;&gt;();
 * for (int i = 0; i < protoObject.get{{fieldNameUpper}}Count(); i++) {
 *   list.add({{resourceTypeClassName}}.parse(protoObject.get{{fieldNameUpper}}(i)));
 * }
 * </code></pre>
 */
@Deprecated
public java.util.List<{{resourceTypeFullClassName}}> get{{fieldNameUpper}}ListAs{{resourceTypeClassName}}List() {
  java.util.List<{{resourceTypeFullClassName}}> list = new java.util.ArrayList<{{resourceTypeFullClassName}}>();
  for (int i = 0; i < get{{fieldNameUpper}}Count(); i++) {
    list.add(get{{fieldNameUpper}}As{{resourceTypeClassName}}(i));
  }
  return list;
}
