public final Builder set{{originalNameUpper}}WithResource({{formatNameUpper}} value) {
  return set{{originalNameUpper}}(value.toString());
}

public final {{formatNameUpper}} get{{originalNameUpper}}AsResource() {
  return {{formatNameUpper}}.parse(get{{originalNameUpper}}());
}
