public Builder set{{fieldNameUpper}}With{{resourceTypeClassName}}(int index, {{resourceTypeClassName}} value) {
  return set{{fieldNameUpper}}(index, value.toString());
}

public Builder add{{fieldNameUpper}}With{{resourceTypeClassName}}({{resourceTypeClassName}} value) {
  return add{{fieldNameUpper}}(value.toString());
}

public Builder addAll{{fieldNameUpper}}With{{resourceTypeClassName}}(java.lang.Iterable<java.lang.String> values) {
  java.lang.List<{{resourceTypeClassName}}> list = new java.util.ArrayList<>();
  for (java.lang.String value : values) {
    list.add(value.toString());
  }
  return addAll{{fieldNameUpper}}(list);
}

public {{resourceTypeClassName}} get{{fieldNameUpper}}As{{resourceTypeClassName}}(int index) {
  return {{resourceTypeClassName}}.parse(get{{fieldNameUpper}}(index));
}

public java.lang.List<{{resourceTypeClassName}}> get{{fieldNameUpper}}ListAs{{resourceTypeClassName}}() {
  java.lang.List<{{resourceTypeClassName}}> list = new java.util.ArrayList<>();
  for (int i = 0; i < getNameCount(); i++) {
    list.add(get{{fieldNameUpper}}As{{resourceTypeClassName}}(i));
  }
  return list;
}
