public {{resourceTypeFullClassName}} get{{fieldNameUpper}}As{{resourceTypeClassName}}(int index) {
  return {{resourceTypeFullClassName}}.parse(get{{fieldNameUpper}}(index));
}

public java.util.List<{{resourceTypeFullClassName}}> get{{fieldNameUpper}}ListAs{{resourceTypeClassName}}List() {
  java.util.List<{{resourceTypeFullClassName}}> list = new java.util.ArrayList<{{resourceTypeFullClassName}}>();
  for (int i = 0; i < getNameCount(); i++) {
    list.add(get{{fieldNameUpper}}As{{resourceTypeClassName}}(i));
  }
  return list;
}
