public Builder set{{originalNameUpper}}WithResource(int index, {{formatNameUpper}} value) {
  return set{{originalNameUpper}}(index, value.toString());
}

public Builder add{{originalNameUpper}}WithResource({{formatNameUpper}} value) {
  return add{{originalNameUpper}}(value.toString());
}

public Builder addAll{{originalNameUpper}}WithResources(java.lang.Iterable<java.lang.String> values) {
  java.lang.List<{{formatNameUpper}}> list = new java.util.ArrayList<>();
  for (java.lang.String value : values) {
    list.add(value.toString());
  }
  return addAll{{originalNameUpper}}(list);
}

public {{formatNameUpper}} get{{originalNameUpper}}AsResource(int index) {
  return {{formatNameUpper}}.parse(get{{originalNameUpper}}(index));
}

public java.lang.List<{{formatNameUpper}}> get{{originalNameUpper}}ListAsResources() {
  java.lang.List<{{formatNameUpper}}> list = new java.util.ArrayList<>();
  for (int i = 0; i < getNameCount(); i++) {
    list.add(get{{originalNameUpper}}AsResource(i));
  }
  return list;
}
